{% extends 'core/lcars_app.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet"
      href="{% static 'diagnostics/css/diagnostics_app.css' %}">
{% block diagnostics_extra_head %}{% endblock %}
{% endblock extra_head %}

{% block header_title %}{% block diagnostic_name %}
{% block diagnostics_title %}Diagnostics{% endblock %}
{% endblock %}{% endblock %}

{% block main %}
<div id="active-area" class="lcars-column fill-space">
    <div id="diagnostics-table-parent">
        <table class="lcars-table standard-header">
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Style</th>
                    <th>Scale</th>
                    <th>Label</th>
                    {% block diagnostics_table_header %}
                    {% for field in diagnostics_fields %}
                    <th>{{ field }}</th>
                    {% endfor %}
                    {% endblock diagnostics_table_header %}
                </tr>
            </thead>
            <tbody class="lcars-table select-row">
                {% for diagnostic in diagnostics_list %}
                <tr class="diagnostic-row" id="{{ diagnostic.id }}">
                    <td>
                        <input type="color"
                               id="plot-color:{{ diagnostic.id }}"
                               value="{{ diagnostic.color|default:'#ffffff' }}">
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn selected-marker"
                                    id="marker-button:{{ diagnostic.id }}">
                                {% include "core/plot_marker.html" with symb=diagnostic.marker size="30" svg="T" %}
                            </button>
                            <div class="dropdown-content"
                                 id="marker:{{ diagnostic.id }}">
                                {% for symb in " x+osv^<>" %}
                                {% include "core/plot_marker.html" with symb=symb size="30" svg="T" %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="text"
                               id="scale:{{ diagnostic.id }}"
                               value="{{ diagnostic.scale|default:'1.0' }}">
                    </td>
                    <td>
                        <input class="param"
                               id="label:{{ diagnostic.id }}"
                               type="text"
                               value="{{ diagnostic.label|default:'' }}">
                    </td>
                    {% block diagnostics_table_row %}
                    {% for field in diagnostic.info %}
                    <td>{{ field }}</td>
                    {% endfor %}
                    {% endblock diagnostics_table_row %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="plot-sep" class="lcars-bracket hollow top"></div>
    <div id="diagnostics-display" class="fill-space">
        {% block diagnostics_display %}
        <p class="lcars-text">Select diagnostics to display.</p>
        {% endblock diagnostics_display %}
    </div>
</div>

<script src="{% static 'diagnostics/js/diagnostics_app.js' %}"></script>
{% block diagnostics_extra_scripts %}{% endblock %}
{% endblock main %}
