{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SuperPhot Pipeline Configuration</title>
        <link rel="icon" href="img/logo.png">
        <link rel="stylesheet" 
              href="{% static 'configuration/css/jquery.orgchart.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" 
              href="{% static 'css/navbar.css' %}">
        <style type="text/css">
            #chart-container { text-align: left; }
        </style>
    </head>
    <body>

        <div class="navbar" id="navbar">
            <div class="dropdown">
                <button class="dropbtn">Step: {{ selected_step }}
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% for step_name in pipeline_steps %}
                    <a href="/configuration/{{step_name}}/{{selected_version}}">
                        {{ step_name }}
                    </a>
                    {% endfor %}
                </div>
            </div> 
            <div class="dropdown">
                <button class="dropbtn">Version: {{ selected_version }} 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% for version in config_versions %}
                    <a href="/configuration/{{selected_step}}/{{version}}">
                        {{ version }}
                    </a>
                    {% endfor %}
                </div>
            </div> 
        </div>
        <div id="edit-panel">
            <table style="width: 100%">
                <tr>
                    <td style="width:1%;white-space:nowrap">
                        <label id="node-type" style="font-size:24px">
                            Node type:
                        </label>
                    </td>
                    <td>
                        <input type="text" 
                               id="edit-node" 
                               style="width: 100%;font-size:24px"
                               onchange="theTree.changeNodeText()">
                    </td>
                </tr>
            </table>
        </div>

        <div id="chart-container"></div>

        <script type="text/javascript" 
                src="{% static 'js/jquery.min.js' %}">
        </script>
        <script type="text/javascript" 
                src="{% static 'js/jquery.orgchart.js' %}">
        </script>
        <script type="text/javascript" 
                src="{% static 'configuration/js/superphot.config.tree.js' %}">
        </script>

        <script type="text/javascript">
            let remainingHeight = screen.availHeight
                - 
                document.getElementById('navbar').offsetHeight
                -
                document.getElementById('edit-panel').offsetHeight;
            remainingHeight *= (98.0 / screen.height);

            document.getElementById('chart-container').style.height = 
                remainingHeight + '%';

            let theTree = new configTree(
                {% autoescape off %}
                {{ config_json }}
                {% endautoescape %}
            );

        </script>
    </body>
</html>
