{% extends 'core/lcars_app.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'processing/css/detrending_diagnostics.css' %}">
{% endblock extra_head %}

{% block header_title %}{% block app_title %}
Detrending Performance
{% endblock %}{% endblock %}

{% block left_menu %}
<a href="{% url 'processing:refresh_diagnostics' %}">
    <div class="lcars-element 
                button 
                lcars-melrose-bg
                lcars-u-1-1">
        Plot
    </div>
</a>

<a href="{% url 'processing:refresh_diagnostics' %}">
    <div class="lcars-element 
                button 
                lcars-husk-bg
                lcars-u-1-1">
        Refresh
    </div>
</a>
{% endblock left_menu %}


{% block main %}
<table class="lcars-table standard-header">
    <thead>
        <tr>
            <th>Color</th>
            <th>Marker</th>
            {% for expr in match_expressions %}
            <th>{{expr}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="lcars-table select-row">
        {% for processing in mphotref %}
        {% url 'processing:display_magfit_diagnostics' imtype='dummy' master_ids=processing.0 as target_url %}
        <tr>
            <td>
                <input type="color" 
                       id="plotColor{{processing.0}}"
                       name="plotColor{{processing.0}}"
                       value={{processing.2}}>
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn" id="marker-button:{{processing.0}}">
                        {% include "core/plot_marker.html" with symb="" size="15" svg="T" %}
                    </button>
                    <div class="dropdown-content" id="marker:{{processing.0}}">
                        {% for symb in " x+osv^<>" %}
                        {% include "core/plot_marker.html" with symb=symb size="15" svg="T" %}
                        {% endfor %}
                    </div>
                </div> 
            </td>
            {% for val in processing.1 %}
            <td> {{val}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'processing/js/detrending.diagnostics.js' %}"></script>

{% endblock main %}
