{% extends 'core/lcars_app.html' %}
{% load static %}

{% block header_title %}{% block app_title %}
Select Photometric Reference
{% endblock %}{% endblock %}

{% block header_bar_extra %}
<div class="lcars-bar horizontal spacer"></div>
{% if range != "minmax" %}
<a href="{% url 'processing:select_photref' values_range='minmax' values_transform=transform %}"
   class="lcars-bar
          button
          horizontal
          lcars-rust-bg
          lcars-u-1"
   >
   <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
       min/max
   </div>
</a>
<div class="lcars-bar horizontal spacer"></div>
{% endif %}

{% if range != "zscale" %}
<a href="{% url 'processing:select_photref' values_range='zscale' values_transform=transform %}"
   class="lcars-bar
          button
          horizontal
          lcars-rust-bg
          lcars-u-1">
    <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
        zscale
    </div>
</a>
<div class="lcars-bar horizontal spacer"></div>
{% endif %}

{% endblock header_bar_extra %}
<div class="lcars-bar
            button
            horizontal">
    <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
        Transform pixel values:
    </div>
</div>
{% block footer_bar_extra %}
<div class="lcars-bar horizontal spacer"></div>
<a href="{% url 'processing:select_photref' values_range=range values_transform='log' %}"
   class="lcars-bar
           horizontal
           bottom
           lcars-rust-bg
           lcars-u-1"
   >
   <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
       Log
   </div>
</a>
<div class="lcars-bar horizontal spacer"></div>
{% endblock footer_bar_extra %}

{% block main %}
<img src="data:image/png;base64,{{image}}"></img>
{% endblock main %}
