{% extends 'core/lcars_app.html' %}
{% load static %}

{% block header_title %}{% block app_title %}
Select Photometric Reference
{% endblock %}{% endblock %}

{% block header_bar_extra %}
<div class="lcars-bar
            horizontal
            lcars-u-2">
    Intensity range:
</div>

<div class="lcars-bar horizontal spacer"></div>
{% if range != "minmax" %}
<a href="{% url 'processing:select_photref_image' target_index=target_index image_index=image_index values_range='minmax' values_transform=transform %}"
   class="lcars-bar
          button
          horizontal
          lcars-chestnut-rose-bg
          lcars-u-1"
   >
   <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
       min/max
   </div>
</a>
<div class="lcars-bar horizontal spacer"></div>
{% endif %}

{% if range != "zscale" %}
<a href="{% url 'processing:select_photref_image' target_index=target_index image_index=image_index values_range='zscale' values_transform=transform %}"
   class="lcars-bar
          button
          horizontal
          lcars-chestnut-rose-bg
          lcars-u-1">
    <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
        zscale
    </div>
</a>
<div class="lcars-bar horizontal spacer"></div>
{% endif %}

{% if image_index > 0 %}
<a href="{% url 'processing:select_photref_image' target_index=target_index image_index=image_index|add:"-1" values_range=range values_transform=transform %}"
{% else %}
<div
{% endif %}
   class="lcars-bar
          button
          horizontal
          lcars-melrose-bg
          lcars-u-2">
    <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
        <<< prev. image
    </div>
{% if image_index > 0 %}
</a>
{% else %}
</div>
{% endif %}

<div class="lcars-bar horizontal spacer"></div>

<a href="{% url 'processing:select_photref_image' target_index=target_index image_index=image_index|add:"1" values_range=range values_transform=transform %}"
   class="lcars-bar
          button
          horizontal
          lcars-melrose-bg
          lcars-u-2">
    <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
        next image >>>
    </div>
</a>

{% endblock header_bar_extra %}


{% block footer_bar_extra %}
<div class="lcars-bar
            bottom
            horizontal
            lcars-u-3">
    Transform intensity:
</div>

{% if transform %}
<div class="lcars-bar horizontal spacer"></div>
<a href="{% url 'processing:select_photref_image' target_index=target_index image_index=image_index values_range=range %}"
   class="lcars-bar
           horizontal
           bottom
           lcars-chestnut-rose-bg
           lcars-u-1"
   >
   <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
       None
   </div>
</a>
{% endif %}
<div class="lcars-bar horizontal spacer"></div>
{% for trans_choice in transform_list %}
{% if trans_choice != transform %}
<a href="{% url 'processing:select_photref_image' target_index=target_index image_index=image_index values_range=range values_transform=trans_choice %}"
   class="lcars-bar
           horizontal
           bottom
           lcars-chestnut-rose-bg
           lcars-u-1"
   >
   <div style="white-space: nowrap; margin-left: 1em; margin-right:1em">
       {{trans_choice}}
   </div>
</a>
<div class="lcars-bar horizontal spacer"></div>
{% endif %}
{% endfor %}
{% endblock footer_bar_extra %}

{% block left_menu %}
<a href="{% url 'processing:progress' %}">
    <div class="lcars-element 
                button 
                lcars-melrose-bg
                lcars-u-1-2">
        Set This Image As Reference
    </div>
</a>
{% endblock left_menu %}


{% block main %}
<img src="data:image/png;base64,{{image}}"></img>
{% for hist in histograms %}
{{hist|safe}}
{% endfor %}
{% endblock main %}
