{% extends 'core/lcars_app.html' %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/create_project.css' %}">
{% endblock extra_head %}

{% block header_title %}
Create New Project
{% endblock header_title %}

{% block app_title %}
CREATE PROJECT
{% endblock app_title %}

{% block left_menu %}
{% if path %}
<input type="submit" 
       id="create-project" 
       name="create-project" 
       value="Create Project"
       form="create-project"
       class="lcars-element button lcars-u-1-2 lcars-melrose-bg"/>
{% endif %}

{{ block.super }}

<a href="{% url 'home:home' %}">
    <div class="lcars-element button lcars-red-alert-bg">Cancel</div>
</a>

{% endblock left_menu %}


{% block main %}

{% if path%}
<form id="create-project" method="post">
    {% endif %}
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th style="width: 100%"></th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="project-name" 
                           class="project-param-label lcars-melrose-color"> 
                        Project Name:
                    </label>
                </td>
                <td>
                    <input type="text"
                           id="project-name"
                           name="project-name"
                           value=""
                           required
                           class="lcars-text-input 
                                  decorated 
                                  rounded
                                  lcars-melrose-color 
                                  lcars-u-3-1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="project-description" 
                           class="project-param-label lcars-melrose-color"> 
                        Project&nbsp;Description (optional):
                    </label>
                </td>
                <td>
                    <textarea id="project-description"
                              name="project-description"
                              value=""
                              class="lcars-text-input 
                                     decorated 
                                     rounded
                                     lcars-melrose-color 
                                     lcars-u-3-2">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="project-home-dir" 
                           class="project-param-label lcars-melrose-color">
                        Project&nbsp;Home:
                    </label>
                </td>
                <td>
                    <a 
                           {% if path %}
                           href="{% url 'home:select_project_home' dirname=path %}"
                           {% else %}
                           href="{% url 'home:select_project_home' %}"
                           {% endif %}
                           >
                        <div class="lcars-element 
                                    button 
                                    rounded 
                                    lcars-melrose-bg"
                            style="width: 100%">
                            {{ path }}
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="project-config"
                           class="project-param-label lcars-melrose-color">
                        Custom Configuration (optional):
                    </label>
                </td>
                <td class='lcars-column'>
                    <label for="config-file" 
                           class="lcars-element button lcars-melrose-bg">
                        Load from File
                    </label>
                    <input type="file" id="config-file" name="config-file"/>
                    <textarea id="custom-config"
                              name="custom-config"
                              value=""
                              class="lcars-text-input 
                                     decorated 
                                     rounded
                                     lcars-melrose-color 
                                     lcars-u-3-2">
                    </textarea>
                </td>
            </tr>
        </tbody>
    </table>
    {% if path %}
    <input type="hidden" 
           name="project-home" 
           value="{{path}}"/>
    <input type="submit" 
           name="create-project" 
           value="Create Project"/>

</form>
{% endif %}

{{ block.super }}

{% endblock main %}
