{% extends 'core/lcars_app.html' %}
{% load static %}

{% block header_title %}
AutoWISP Projects
{% endblock header_title %}

{% block app_title %}
Projects
{% endblock app_title %}

{% block processing_link %}
{% endblock processing_link %}

{% block configuration_link %}
{% endblock configuration_link %}

{% block edit_survey_link %}
{% endblock edit_survey_link %}

{% block review_results_link %}
{% endblock review_results_link %}

{% block home_link %}
{% endblock home_link %}

{% block left_menu %}
<a href="{% url 'home:new_project' %}">
    <div class="lcars-element
                button
                lcars-melrose-bg
                lcars-u-1-2"
         id="tutorial-new-project">
        New Project
    </div>
</a>
<div class="lcars-element
            button
            lcars-chestnut-rose-bg
            lcars-u-1-2"
     onclick="deleteSelected()"
     style="cursor: pointer;">
    Delete Selected
</div>
<div class="lcars-element
            button
            lcars-u-1-2"
     id="tutorial-stack-button"
     role="button"
     tabindex="0"
     style="cursor: pointer; background-color: #b9c77a; color: #000000;">
    Tutorial
</div>
{% endblock %}

{% block main %}
<form id="project-form" method="get"
      action="{% url 'home:confirm_delete_projects' %}">
<table class="lcars-table standard-header">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="select-all"
                       onclick="toggleAll(this)">
            </th>
            {% for col in columns %}
            <th>{{ col|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="lcars-table select-row">
        {% for project_id, project_data in projects.items %}
        {% if project_id in missing_db_ids %}
        <tr style="color: grey; cursor: default; opacity: 0.6;"
            title="Project data not found on disk">
            <td onclick="event.stopPropagation()">
                <input type="checkbox" name="project_ids"
                       value="{{ project_id }}">
            </td>
            {% for value in project_data %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% else %}
        {% url 'home:select_project' project_id=project_id as project_url %}
        <tr onclick="window.location='{{ project_url }}'"
            class="tutorial-project-row"
            data-project-id="{{ project_id }}">
            <td onclick="event.stopPropagation()">
                <input type="checkbox" name="project_ids"
                       value="{{ project_id }}">
            </td>
            {% for value in project_data %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock main %}

{% block scripts %}
<script src="{% static 'home/js/delete.project.js' %}"></script>
{% endblock scripts %}
