{% extends 'core/lcars_app.html' %}
{% load static %}

{% block header_title %}{% block app_title %}
Select Photometric Reference
{% endblock %}{% endblock %}

{% block left_menu %}
<button type="submit"
        form="merit-form"
        formaction="{% url 'processing:select_photref_recalc' %}"
        formmethod="post"
        class="lcars-element
               button
               lcars-melrose-bg
               lcars-u-1-1">
    Refresh
</button>
{% endblock left_menu %}

{% block main %}
<form id="merit-form"
      method="post"
      action="{% url 'processing:select_photref_target' %}">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th></th>
            <th style="width: 100%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label for="merit-function" class="project-param-label">
                    Merit Function:
                </label>
            </td>
            <td>
                <input type="text"
                       id="merit-function"
                       name="merit-function"
                       value="{{ merit_function }}"
                       class="project-text-input lcars-u-3-1"/>
            </td>
        </tr>
    </tbody>
</table>
</form>
<table class="lcars-table standard-header">
    <thead>
        <tr>
            {% for expr in master_expressions %}
            <th>{{expr}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="lcars-table select-row">
    {% for target in master_values %}
    {% url 'processing:select_photref_image' target_index=forloop.counter0 as target_url %}
    <tr onclick="window.location='{{target_url}}'"
        class="tutorial-photref-target-row">
        {% for val in target %}
        <td> {{val}} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock main %}
