{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Photometric Survey Configuration</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'configuration/css/survey.css' %}">
    </head>
    <body>
        <div class="navbar" id="navbar">
            <div class="dropdown dropdown-right" >
                <a class="dropbtn" href="{% url 'processing:progress' %}">
                    Processing Status
                </a>
            </div>
            <div class="dropdown dropdown-right" >
                <a class="dropbtn" href="{% url 'configuration:config_tree' %}">
                    Processing Configuration
                </a>
            </div>
        </div>
        {% with 'camera telescope mount' as equipment_components_str %}
        {% with equipment_components_str.split as equipment_components %}
        <div id="survey" 
             class="survey-container"
             style="grid-template-columns: auto auto">
            <div class="survey-component">
                <table class='survey-component-table'>
                    <tr>
                        {% if selected_component in equipment_components %}
                        <th>Observers</th>
                        <th>Access to <br/>{{selected_component}}</th>
                        {% else %}
                        <th colspan=2>Observers</th>
                        {% endif %}
                    </tr>
                    {% with component='observer' %}
                    {% for item in observers %}
                    {% if selected_component in equipment_components and selected_id >= 0 and item.id >= 0 %}
                    {% include "./survey_item_access.html" %}
                    {% else %}
                    {% include "./survey_item_noaccess.html" with attributes=attributes.observer %}
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </table>
            </div>
            <div class="survey-component">
                <table class='survey-component-table'>
                    <tr>
                        <th colspan=2>Observatories</th>
                    </tr>
                    {% with component='observatory' %}
                    {% for item in observatories %}
                    {% if item.id >= 0 %}
                    {% include "./survey_item_noaccess.html" with attributes=attributes.observatory %}
                    {% else %}
                    {% include "./survey_item_noaccess.html" with attributes=attributes.observatory %}
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </table>
            </div>
        </div> 
        <br/>
        <div id="survey" class="survey-container" style="grid-template-columns: 33% 33% 33%"> 
            {% for component in equipment_components %}
            <div class="survey-component">
                <table class='survey-component-table'>
                    <tr>
                        {% if selected_component == 'observer' %}
                        <th>{{component.title}}s</th>
                        <th>Observer has<br/>Access</th>
                        {% else %}
                        <th colspan=2>{{component.title}}s</th>
                        {% endif %}
                    </tr>
                    {% cycle cameras telescopes mounts as equipment_list silent %}
                    {% cycle attributes.camera attributes.telescope attributes.mount as component_attributes silent %}
                    {% cycle types.camera types.telescope types.mount as component_types silent %}
                    {% cycle type_attributes.camera type_attributes.telescope type_attributes.mount as component_type_attrs silent %}


                    {% for item in equipment_list %}
                    {% if selected_component == 'observer' and item.id >= 0%}
                    {% include "./survey_item_access.html" %}
                    {% else %}
                    {% include "./survey_item_noaccess.html" with attributes=component_attributes types=component_types type_attributes=component_type_attrs %}
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
        {% endwith %}
        {% endwith %}

    </body>
</html>
