{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Photometric Survey Configuration</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'configuration/css/survey.css' %}">

    </head>
    <body>
        {% csrf_token %}
        <div class="navbar" id="navbar">
            <div class="dropdown dropdown-right" >
                <a class="dropbtn" href="{% url 'processing:progress' %}">
                    Processing Status
                </a>
            </div>
            <div class="dropdown dropdown-right" >
                <a class="dropbtn" href="{% url 'configuration:config_tree' %}">
                    Processing Configuration
                </a>
            </div>
        </div>
        <div id="survey" 
             class="survey-container" 
             style="grid-template-columns: auto auto">
            <div class="survey-item">
                <h2>Observers</h2>
                <ul>
                    {% for obs in observers %}
                    <li>
                        <a href={% url 'configuration:survey' selected_type='observer' selected_id=obs.id%}>
                            {{obs.name}}
                        </a>
                        (<a href="mailto:{{obs.email}}"> {{obs.email}} </a>)
                    </li>
                    {% endfor %}
                    <li>
                        <label for="new_observer">Add:</label>
                        <input type="text" class="survey-item" name="new_observer">
                    </li>
                </ul>
            </div>
            <div class="survey-item">
                <h2>Observatories</h2>
                <ul>
                    {% for obs in observatories %}
                    <li>
                        <a href={% url 'configuration:survey' selected_type='observatory' selected_id=obs.id%}>
                            {{obs.name}} 
                            (lat={{obs.latitude}}, lon={{obs.longitude}})
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <label for="new_observatory">Add:</label>
                        <input type="text" class="survey-item" name="new_observatory">
                    </li>
                </ul>
            </div>
        </div>
        <div id="survey" class="survey-container" style="grid-template-columns: auto auto auto">
            {% with 'camera telescope mount' as equipment_types %}
            {% for type in equipment_types.split %}
            <div class="survey-item">
                <h2>{{type.title}}s</h2>
                <ul>
                    {% cycle cameras telescopes mounts as equipment_list silent %}
                    {% for equipment in equipment_list %}
                    <li>
                        <a href={% url 'configuration:survey' selected_type=type selected_id=equipment.id%}>
                            {{equipment.make}} 
                            {{equipment.model}} 
                            (S/N {{equipment.serial}})
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <label for="new_{{type}}">Add:</label>
                        <input type="text" class="survey-item" name="new_{{type}">
                    </li>
                </ul>
            </div>
            {% endfor %}
            {% endwith %}
        </div>
    </body>
</html>
