<tr>
    <td rowspan=0>
        <button type="button" class="survey-add-button">Add:</button>
    </td>
</tr>
{% for attr in attributes %}
{% if forloop.counter0 %}
<tr>
    {% endif %}
    <td>
        {% if attr == 'type' %}
            {% if component in create_new_types %}
            {% url 'configuration:survey' selected_component_type=selected_component selected_id=selected_id create_new_types=create_new_types|join:' '|add:' '|cut:component as cancel_new_type_url %}

            <button type="button" onclick="window.location.href='{{cancel_new_type_url}}'">
                Cancel new type
            </button>

                {% for type_attr in type_attributes %}
    </td>
</tr>
<tr>
    <td>
                <label for="{{component}}-type-{{type_attr}}">
                    {{type_attr}}:
                </label>
                <input type="text" name="{{component}}-type-{{type_attr}}">
                {% endfor %}
            {% else %}
            <label for="{{component}}-{{attr}}">{{attr}}:</label>
            <select name="{{component}}-{{attr}}" id="{{component}}-{{attr}}">
                {% for type_entry in types %}
                <option value="{{type_entry.id}}">
                {{type_entry.make}} {{type_entry.model}} v({{type_entry.version}})
                </option>
                {% endfor %}
                {% with joined_new_types=create_new_types|join:' '|add:' '|add:component %}
                {% url 'configuration:survey' selected_component_type=selected_component selected_id=selected_id create_new_types=joined_new_types as add_new_type_url%}
                <option value="create-new" 
                        onclick="window.location.href='{{add_new_type_url}}'">
                Create new {{component}} type
                {% endwith %}
                </option>
            </select>
            {% endif %}
        {% else %}
        <label for="{{component}}-{{attr}}">{{attr}}:</label>
        <input type="text" name="{{type}}-{{attr}}">
        {% endif %}
    </td>
    {% endfor %}
</tr>
