{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SuperPhot Pipeline Reductions Progress</title>
        <meta http-equiv="refresh" content="10">
        <link rel="icon" href="img/logo.png">
        <link rel="stylesheet" 
              href="{% static 'processing_status/css/jquery.orgchart.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" 
              href="{% static 'css/navbar.css' %}">
        <style type="text/css">
            #chart-container { text-align: left; }
        </style>

    </head>
    <body>
        <table>
            <tr>
                <th>Step</th>
                <th>Image Type</th>
                {% for channel in channels %}
                <th>{{ channel }}</th>
                {% endfor %}
            </tr>
            {% for step, imtype, by_channel in progress %}
            <tr>
                <td>{{ step }}</td>
                <td>{{ imtype }}</td>
                {% for final, pending, by_status in by_channel %}
                {% with total=final|add:pending %}
                <td>
                    <table>
                        <tr>
                            <td colspan=2>
                                <div id="progress-with-label" 
                                     style="width: 100%">
                                    <span style="width: {% widthratio final total 100 %}%">
                                        {{final}}/{{total}}
                                    </span>
                                    <progress value="{{ final }}" 
                                              max="{{ total }}" 
                                              style="foreground-color:black">
                                    </progress>
                                </div>
                            </td>
                        </tr>
                        {% for status, count in by_status %}
                        <tr>
                            <td>Status {{ status }}</td>
                            <td>
                                <div id="progress-with-label" 
                                     style="width: 100%">
                                    <span style="width:{% widthratio count total 100 %}%">
                                        {{count}}/{{total}}
                                    </span>
                                    <progress value="{{ count }}" 
                                              max="{{ total }}" 
                                              style="foreground-color:black">
                                    </progress>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                </td>
                {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

